*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    background-color: #333;
}
body{
    color: #ccc;
}


/* Position: Static by Default. */
#parent{
    border: 1px solid white;
    background-color: hsl(300, 50%, 50%, 0.25);
    padding: 2rem;
    font-size: 2rem;
}
.child{
    border: 1px solid white;
    font-size: 1.5rem;
}

.relative{
    background-color: maroon;
}

/* Absolute: The element is right there where it was supposed to be. But other elements think it does not exist (so they take its place behind it).
    Some Notes:
        a) The absolute element will place itself relative to its nearest non-static parent (body, if none exists).
        b) The elements stay block/inline/whatever. But their width & height becomes "fit".
        c) When we define properties like top, bottom, etc, we mean "on the document", NOT "one the screen".
*/
.absolute{
    background-color: darkolivegreen;
    position: absolute;
    /* try these: */
    top: 0;
    /* bottom: 0; */
    left: 0;
    /* right: 0; */
}

.fixed{
    background-color: darkslateblue;
}
.sticky{
    background-color: darkslategray;
}