*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    background-color: #333;
}
body{
    color: #ccc;
}

/* Images: */
img{
    height: 250px;
}
#img-flower{
    float: left;
}
#img-tree{
    float: right;
}