*{
    /* Applies to every single element (including HTML & Body) */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-size: 1rem; */
}
html{
    background-color: #333;
    /* HTML covers the entire viewport (even outside the page) */
}
body{
    color: #ccc;
    /* Body covers all the content in the page */
}

#one{
    border: 1px solid yellow;
    margin: 10px;
    padding: 10px;
    /* Border, Margin, & Padding will not be inherited by children */
    background-color: maroon;
    /* BGC of the children is maroon, not because it's inherited. But because it's transparent by default */
    color: yellow;
    /* Color of the children is yellow, due to inheritance */
    font-size: 5rem;
    /*
        If * sets a font-size, it applies directly to all elements (no inheritance involved).
        If not, children inherit the parent's font-size (5rem).
        Then browser defaults apply:
            h1 has font-size: 2em; (2 × 5rem = 10rem)
            h2 has font-size: 1.5em; (1.5 × 5rem = 7.5rem)
    */
}
h2{
    color: initial;
    /* Setting the colour of a child of #one to "initial" (meaning the browser/CSS default, not this page's default) */ 
}